body {
    font-family: 'Bruno Ace';font-size: 15px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    height: 100vh;
}

.left-side{
    position: relative;
    /* width: 37%;
    height: 100vh; */
    flex: 1;
    background-image: url('star-bi.jpg');
    background-size: cover;
    background-position: center; /* added for better positioning */
}

.odin-bar{
    position: absolute;
    top: 22rem;
    background-color: rgb(0,0,0,0.2);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.odin-bar img{
    max-width: 100%;
    max-height: 100%;
}

.odin-bar p{
    margin-left: 15px; 
    color: rgb(238, 230, 230);
    font-size: 35px;
}


.right-side{
    flex:2.7;
    display: flex; /* container that the othet divs are in so has to be flexibile so we can stack them*/
    flex-direction: column;
    /* width:63%;
    height: 100vh; */

}


.cont1{
    background-color: rgb(196, 215, 215);
    height: 30vh;
    font-size: 22px;
}

.cont2{
    background-color: rgb(192, 228, 239);
    height: 40vh;
    display: flex;
    flex-direction: column;
    
}

.cont3{
    background-color: rgb(196, 215, 215);
    height: 30vh;
}

.cont1 > .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 50px;
}

.fill-out{
    display: flex;
    flex-direction: row;
}

.f-name, .l-name {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */
}

.cont2 > p{
    padding: 15px;
    font-size: 25px;
}

.form-group label{
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%; /* Ensures inputs expand to fill their container */
    padding: 8px; /* Adjust padding as needed */
}


.cont3 > button{
    margin: 20px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #203354;
    border-radius: 8px;
    transition-duration: 0.4s;
    border: none;
}
  
.cont3 > button:hover {
    background-color: lightblue; /* Green */
    color: black;
  }